<div class="form-container mx-auto my-2 p-4 border rounded-3 shadow-sm">
  <h2><%= t('.title') %></h2>
  <%= simple_form_for(resource, as:resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, label: t('.email'), input_html: { autofocus:true } %>
    <%= f.input :password, label: t('.password') %>
    <% if devise_mapping.rememberable? %>
      <%= f.input :remember_me, as: :boolean, label: t('.remember_me') %>
    <% end %>
    <div class="d-flex flex-column align-items-center gap-2">
      <%= f.button :submit, t('.sign_in'), class:"btn-primary"%>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>